.form-section {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  border: none;

  &--contact-person {
    padding-bottom: $gutter;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;

    &--contact-person {
      padding-bottom: 50px;
    }
  }
}

.form-section__body {
  @include make-container();

  @media (min-width: $tablet-width) {
    padding-left: ($gutter-big * 2);
    padding-right: ($gutter-big * 2);
  }
}

.form-section__header {
  margin-bottom: $gutter-big;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}
