.form-section {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  border: none;

  &--contact-person {
    padding-bottom: $gutter;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;

    &--contact-person {
      padding-bottom: 50px;
    }

    &--message {
      padding-bottom: 60px;
    }

    &--extra {
      padding-bottom: 35px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 65px;

    &--cat-info {
      padding-bottom: 70px;
    }

    &--contact-person {
      padding-bottom: 50px;
    }

    &--message {
      padding-bottom: 60px;
    }

    &--extra {
      padding-bottom: ($gutter-big * 2);
    }
  }
}

.form-section__body {
  @include make-container();

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.form-section__header {
  margin-bottom: $gutter-big;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }
}
