.hero {
  padding-top: 30px;
  padding-bottom: 22px;
  font-family: $font-oswald;
  text-align: center;
  color: #ffffff;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat top;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    text-align: left;
    color: $gray-17;
    background-image: none;
  }
}

.hero__wrapper {
  @include make-container();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.hero__title {
  @include section-title();

  margin-bottom: 20px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    max-width: 425px;
    margin-left: 90px;
    margin-bottom: 35px;
    color: $gray-17;
  }
}

.hero__slogan {
  margin: 0;
  margin-bottom: 30px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    z-index: 1;
    max-width: 425px;
    margin-left: 90px;
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__image {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    order: 1;
    align-self: center;
    margin-top: -75px;
    margin-bottom: 0;
  }
}

.hero__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    z-index: 1;
    width: auto;
    margin-left: 90px;
  }
}
