.page-footer {
  position: relative;
  padding-top: $gutter-huge;
  padding-bottom: $gutter;
  background-color: $gray-242;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: ($gutter-big * 2);
  }
}

.page-footer__wrapper {
  @include make-container();

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: $gutter-big;
  text-align: center;
  text-decoration: none;
  transition: opacity $duration;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__logo-text-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-footer__social {
  padding-top: $gutter;
  padding-bottom: $gutter;
  border-top: 1px solid $gray-217;
  border-bottom: 1px solid $gray-217;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -10px;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
  }
}

.page-footer__developer {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
