.page-header {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    background: linear-gradient(to right, #ffffff calc(50% + #{$gutter-huge}), $accent-color 0);
  }
}

.page-header__top {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    padding-left: $gutter-big;
    padding-right: $gutter-big;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding-left: $gutter-huge;
    padding-right: $gutter-huge;
  }
}

.page-header__logo {
  text-decoration: none;
  margin-left: $gutter;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  display: block;
}

.page-header__logo-text-image {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__navigation-toggler {
  margin-right: $gutter;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__navigation {
  @media (max-width: $mobile-width-max) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    max-width: calc(50% - #{$gutter-huge});
  }
}
