.product-card {
  display: flex;
  flex-wrap: wrap;
  padding: $gutter;
  padding-bottom: 23px;
  border-top: 1px solid $gray-237;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    padding-bottom: $gutter-huge;
    border-top: none;
    background-image: linear-gradient(to bottom, #ffffff 82px, $gray-242 0);
  }
}

.product-card__image-box {
  width: 50%;
  margin-top: -$gutter;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    width: auto;
    margin-bottom: $gutter-huge;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: $gutter-huge;
  }
}

.product-card__image {
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.product-card__body {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: auto;
    align-self: stretch;
    margin-left: 37px;
    margin-right: 37px;
  }
}

.product-card__title {
  max-width: 75px;
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 127px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
  }
}

.product-card__properties {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: 16px;
  }
}

.product-card__label {
  @media (min-width: $tablet-width) {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $gray-205;
  }
}

.product-card__value {
  text-align: right;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $gray-205;
  }
}

.product-card__to-order {
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    align-self: stretch;
    margin-left: 37px;
    margin-right: 37px;
  }
}
