.transformation {
  padding-top: $gutter-big;
  padding-bottom: 35px;
  background-color: $gray-242;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 70px;
    border-top: 1px solid $gray-230;
    background-image: linear-gradient(to top, $gray-242 462px, #ffffff 0), linear-gradient(to top, $gray-234 462px, #ffffff 0);
    background-position: 0 0;
    background-size: 50% 100%, 100% 100%;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    padding-top: $gutter-big;
    border-top: none;
    background-size: calc(50% + 690px / 2 - #{$gutter}) 100%, 100% 100%;
  }
}

.transformation__wrapper {
  @include make-container();

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.transformation__text-area {
  margin-bottom: $gutter-big;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    width: calc(50% - #{$gutter-huge});
    margin-bottom: 0;
    padding-top: 55px;
    padding-right: 135px;
    box-sizing: border-box;
  }
}

.transformation__tumbler-area {
  @media (min-width: $desktop-width) {
    width: 50%;
    flex-grow: 1;
  }
}

.transformation__title {
  @include section-title();

  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 140px;
  }
}

.transformation__text {
  @include clear-edges-text-margins();

  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}
